<h3>UserLocation</h3>

<p>Enter your Location: </p>
<input @bind="locationInput" />
<button @onclick=formatUserLocation>Submit</button>



@code {

    public string locationInput { get; set; }

    public string formattedLocationInput { get; set; }

    public void formatUserLocation()
    {
        var arrayOne = locationInput.Split(" ");
        var stringOne = String.Join("+", arrayOne);
        var arrayTwo = stringOne.Split(",");
        formattedLocationInput = String.Join("%2C", arrayTwo);

        Console.WriteLine(formattedLocationInput);

    }

}
